node_modulesnode_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.local
.env.*.local
.next
.vercel
dist
build
coverage
.DS_Store
.vscode
.idea
*.swp
*.swo
*~
.npm
.eslintcache
.cache
website images
.turbo
out
.turborc
Dockerfile
docker-compose.yml
.dockerignore